body {
    margin: 0px;
    box-sizing: border-box;
    font-size: 1rem ;
   
    font-family: 'Montserrat', sans-serif;
}

/* seccion header */
header {
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}


.container-list-nav {
    min-width: 50%;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
   
}

.container-nav {
    display: flex;
   justify-content: flex-end;
    min-height: 20vh;
    background-color: rgb(229, 152, 155);
    align-items: center;
  
}


.list {
font-size: 1.25rem;
margin-left: 1.875rem;

}

li>a {
    color: white;
}

.contact {
    box-sizing: border-box;
    min-width: 15%;
    padding: 0.125rem 1.875rem;
    border: 1px solid rgb(131, 56, 236);
    border-radius: 1.25rem;
    background-color: rgb(131, 56, 236);
    color: white;
    font-size: 1.25rem;
    text-decoration: none;

}

/* final de secciom header */

/* seccion presentacion */
.seccion-principal {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    padding: 1.25rem;


}

.info-personal {
    width: 45%;
    display: flex;
    flex-direction: column;

}

.info-personal-jobbie {

    font-size: 1.5625rem;
    color: rgb(143, 124, 102);
}

.contenedor-imagen {
    box-sizing: border-box;
    width: 45%;
    padding: 0;
    margin: 0;

}

.imagen-presentacion {
    width: 100%;


}

img {
    width: 100%;
}


.info-personal-titulo {

    font-size: 1.875rem;
    margin: 1.875rem 0rem 0rem 0rem
}

.info-personal-usuario {
    font-size: 3.125rem;
    color: rgb(181, 131, 141);
    font-weight: 50rem;
    margin: 1.25rem 0px;
}

.contenedor-boton {

    margin: 2.5rem 0rem;
}

.boton {
    text-decoration: none;
    color: white;
    background-color: violet;
    padding: 0.625rem 1.875rem;
    border-radius: 0.625rem;
    box-shadow: 0.0625rem 0.1875rem 0.1875rem 0.0625rem gray;
}

/* seccion conocimiento */

.mis-conocimientos {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(246, 247, 251);
    padding: 4.375rem 0PX
}

.container-conocimiento,
.container-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.titulos {
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
}

.parrafo {
    font-size: 1.25rem;
    margin: 0px;
    width: 60%;
}



.container-card {

    display: flex;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
}

.info-card {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
}


.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(221, 223, 229);
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
    margin: 0.3125rem;

    border-radius: 0.625rem;
    background-color: white;

}



.icon {
    font-size: 6.25rem;
    padding: 1.5625rem;

}

.fa-html5 {
    color: rgb(229, 77, 38);
}

.fa-css3-alt {
    color: rgb(61, 143, 198);
}

.fa-sass {
    color: rgb(204, 102, 153);
}

.fa-js {
    color: rgb(240, 219, 79)
}

.fa-react {
    color: rgb(191, 240, 253);
}

.fa-git-alt {
    color: rgb(243, 79, 41);
}

/* seccion frase */

.container-frase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem;
    background-color: blueviolet;

}

.comillas {
    display: flex;
    width: 20%;
    background-color: blueviolet;
    justify-content: center;
}

.fa-quote-right {
    color: white;
    font-size: 3.125rem;
}

.frase {


    font-size: 1.875rem;
    color: white;
}

.container-nombre {
    display: flex;
    justify-content: center;

}

.titulo-nombre {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

/* seccion mis proyectos */


.mis-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

}

.container-proyectos {
    text-align: center;
    padding: 1.875rem;

}

.box-projectos {
    box-sizing: border-box;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card-proyecto {
    border: 0.125rem solid rgb(224, 224, 224);
    margin: 0.625rem;
    background-color: white;
   
    width: 30%;
    display: flex;



}


.box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3125rem;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;



}

img[src$=jpg] {
    width: 100%;
    height: 100%;
}

[href] {
    text-decoration: none;

}

/* fin de proyecto  */

/* comienzo de formulario */

.formulario-principal {
    display: flex;
    justify-content: center;
    background-color: rgb(246, 247, 251);

}
.contactos {

    display: flex;
    width: 80%;
    justify-content: center;
    border: solid 1px gray;
    background-color: white;
    border-radius: 1.25rem;
    padding: 0.3125rem;
    flex-wrap: wrap;
    margin: 6.25rem 0rem;
}

.container-contactame {

    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.25rem;
    width: 45%;
}

.info-contacto {
    margin-bottom: 40px;
}

.contenedor-redes-sociales {
    display: flex;
    margin: 0;
    padding: 20px 0px;
    flex-direction: column;
    flex-grow: 1;
}
.redes-sociales {
    display: flex;
    list-style: none;
    flex-grow: 1;
    color: black;
    margin-bottom: 5px;
}
.box-icon-redes {
    color: black;
    display: block;
}

.icon3 {
    width: 1.25rem;
    margin: 0rem 1.25rem 0rem 0rem;
    color: blueviolet;
}


.container-formulario {
    width: 45%;
    padding: 0.625rem;

}

.part-1formu {
    display: flex;
}


.formu-nombre {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0rem 1.875rem 0rem 0rem;
}

.formu-apellido {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.container-formulario {
    padding: 20px 20px;
}

.part-2formu {
    display: flex;
    flex-direction: column;


}

input {

    border-radius: 0.3125rem;
    background-color: #f6f7fb;
    padding: 10px 10px;
    border: 0px;

}

label {
    color: black;
    font-size: 15px;
}

textarea {
    background-color: #f6f7fb;
    border-radius: 0.3125rem;
    border: 0px;

}

.boton {
    background-color: violet;
    width: 6.25rem;
    margin: 20px 0px;
    padding: 15px;
    border: 0px;
    border-radius: 10px;
    color: white;
    transition-timing-function: 7s;

}

.boton:active {
    box-shadow: none;




}



/* fin  de formulario */
/* seccion footer */

.pie-de-pagina {
    background-color: rgb(229, 152, 155);
    display: flex;
    flex-direction: column;
    padding: 3.125rem;
    align-items: center;

}


.lista {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu>a {

    color: white;
    margin: 0.625rem;
}

.icono-footer {
    display: flex;
    justify-content: center;
    padding: auto;

}

.icono-footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.625rem;
    border-radius: 100%;
}

a>i {
    color: blueviolet;

}

.icon2 {
    font-size: 1.25rem;
}

/* media query */

@media(max-width:1075px) {
    .container-nav {
        display: none;
    }

    .contenedor-imagen {
        width: 70%;
    }

    .seccion-principal {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
        padding-bottom: 6.25rem;
    }

    .info-personal {
        text-align: center;
    }

    .boton {
        width: 12.5rem;
    }

    .info-personal-titulo {
        font-size: 3.125rem;
    }

    .info-personal-usuario {
        font-size: 3.75rem;
    }


    .container-card {
        width: 80%;
    }
}

@media(max-width:999px) {
    .contactos {
        width: 90%;

    }
}

@media(max-width:941px) {
    .container-card {
        justify-content: center;
    }


    .card {
        margin: 15px;
        width: 35%;
    }

    .frase {
        text-align: center;
    }

}

@media(max-width :899px) {
    .box-projectos {
        width: 100%;
        justify-content: center;

    }

    .card-proyecto {
        width: 40%;

    }

    .contactos {
        border: none;

    }

}

@media(max-width:887px) {
    .container-contactame {
        flex-grow: 1;

    }


    .container-formulario {
        flex-grow: 1;
        text-align: center;
    }

    .contenedor-redes-sociales {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .redes-sociales {
        width: 50%;
    }

    .contactos {
        border: none;
    }

    .formulario-principal {
        background-color: white;
    }

}

@media(max-width:599px) {
    .icon {
        font-size: 50px;
    }

    .info-personal-titulo {
        font-size: 30px;
    }

    .info-personal-usuario {
        font-size: 40px;
    }

    .contenedor-imagen {
        width: 70%;
    }
}

@media(max-width:568px) {
    .card-proyecto {
        width: 70%;

    }

    .contenedor-redes-sociales {
        flex-direction: column;
    }

    .redes-sociales {
        width: 60%;

    }
}

@media(max-width:510px) {
    .contenedor-imagen {
        width: 80%;
    }

    .pie-de-pagina {
        padding: 0;

    }

    .menu-footer {
        font-size: 15px;
    }

}

@media(max-width:476px) {
    .redes-sociales {
        width: 100%;
    }
}


@media (max-width:416px) {
    .card {
        width: 45%;
    }

    .container-card {
        width: 100%;
    }

    .menu-footer {
        font-size: 13px;
    }
}

@media(max-width:364px) {
    .titulos {
        text-align: center;
    }

    .menu-footer {
        font-size: 13px;
    }
}


@media(max-width:360px) {
    .conociemiento-titulo {
        text-align: center;
    }

    .nombre {
        text-align: center;
    }

    .box-icon-redes {
        flex-grow: 1;
    }

    .menu-footer {
        font-size: 12px;
    }

    .lista {
        padding: 0px;
    }
    .titulo-nombre{
        text-align: center;
    }
}