.moverse{
    width:30%;
    height: 300px;
    background-color: brown;
}

div{
    display: flex;
    flex-direction: column;

}

.papa > .moverse{
    align-self: center;
}

ul{
    width: 50%;
    display: flex;
    flex-direction: column;

   
}

li{
  display: flex;
}

a{
flex-grow: 1;
text-align: center;
}


