body {
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px
    font-family 'Montserrat', sans-serif ;
    font-family:'Montserrat', sans-serif ;
}

/* seccion header */
header {
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}


.box-list {
    min-width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.container {
    display: flex;
    justify-content: flex-end;
    min-height: 20vh;
    background-color:rgb(229, 152, 155);
    align-items: center;
    


}


li {
    
    font-size: 1.25rem;
    
}

li>a{
    color: white;
}

.contact {
    box-sizing: border-box;
    min-width: 15%;
    padding: 0.125rem 1.875rem;
    border: 1px solid rgb(131, 56, 236);
    border-radius: 1.25rem;
    background-color: rgb(131, 56, 236);
    color: white;
    font-size: 1.25rem;
    text-decoration: none;

}

/* final de secciom header */

/* seccion presentacion */
.box-principal {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    padding: 1.25rem;
    
}
.info{
    width: 400px;
}

.jobbie{
   
    font-size: 1.5625rem;
    color: rgb(143, 124, 102);
}

.contenedor-imagen {
    box-sizing: border-box;
    width: 500px;
}
.imagen-presentacion {
    width: 100%;
   
}
img {
    width: 100%;
    height: 100%;
}


.titulo {

    font-size: 1.875rem;
    margin: 1.875rem 0rem 0rem 0rem


}

.usuario {
    font-size: 3.125rem;
    color: rgb(181, 131, 141);  
    font-weight: 50rem;
    margin: 1.25rem 0px;
}

.box-boton{
    margin: 2.5rem 0rem;
}

.boton {
    text-decoration: none;
    color: white;
    background-color: violet;
    padding: 0.625rem 1.875rem;
    border-radius: 0.625rem;
    box-shadow: 0.0625rem 0.1875rem 0.1875rem 0.0625rem gray;
}

/* seccion conocimiento */

.mis-conocimientos {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 247, 251);
    padding: 4.375rem 1.875rem;


}

.box-info-conocimiento,
.box-info-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtitulo{
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
}
.info-subtitulo{
    font-size: 1.25rem;
    margin: 0px;
}


.info-subtitulo {
    width: 60%;
}

.box-card {
    display: flex;
    justify-content: space-around;
    width: 73%;
    flex-wrap: wrap;
    margin: 2.5rem;


}


.card {

    display: flex;
    flex-direction: column;
    border: 1px solid rgb(221, 223, 229);
    align-items: center;
    width: 15.625rem;
    margin-bottom: 30px;
    border-radius: 0.625rem;
    background-color: white;



}

figure {
    height: 50%;
    display: flex;
    align-items: center;
    padding: 50px;
}

.icon {
    font-size: 4.6875rem;
}

.fa-html5 {
    color: rgb(229, 77, 38);
}

.fa-css3-alt {
    color: rgb(61, 143, 198);
}

.fa-sass {
    color: rgb(204, 102, 153);
}

.fa-js {
    color: rgb(240, 219, 79)
}

.fa-react {
    color: rgb(191, 240, 253);
}

.fa-git-alt {
    color: rgb(243, 79, 41);
}

/* seccion frase */

.box-frase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem;
    background-color: blueviolet;

}

.comillas {
    display: flex;
    width: 20%;
    background-color: blueviolet;
    justify-content: center;
}

.fa-quote-right {
    color: white;
    font-size: 50px;
}

.frase {
    width: 40%;

    font-size: 1.875rem;
    color: white;
}

.box-nombre {
    display: flex;
    justify-content: center;

}

.nombre {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

/* seccion mis proyectos */


.mis-proyectos {
    display: flex;
    flex-direction: column;

}

.box-info-proyectos {
    text-align: center;
    padding: 1.875rem;

}

.box-projectos {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.875rem 6.25rem;
}

.sector-proyecto {
    border: 0.125rem solid rgb(224, 224, 224);
    margin: 0.625rem;
    background-color: white;
    padding: auto;

}


.box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 15.625rem;
    height: 16.875rem;
    padding: 0.3125rem;


}

img[src$=jpg] {
    width: 100%;
    height: 100%;
}

[href] {
    text-decoration: none;

}

/* fin de proyecto  */

/* comienzo de formulario */

.formulario-principal {
    background-color: rgb(246,247,251);
    padding: 70px;
}
.formulario{
    padding: 0.625rem;
}
.contactos{
    display: flex;
    border: solid 1px gray;
    background-color: white;
     border-radius:  20px;
     padding: 5px;
     flex-wrap: wrap;
     
}

 

 .redes-sociales{
    list-style: none;
 }
 .contactame{
    
    display: flex;
    flex-direction: column;

    padding: 20px 20px
 }

 .info-contacto{
    width: 31.25rem;


 }
 .formulario{
   
    padding: 20px 20px;
}
.part-2formu{
    display: flex;
    flex-direction: column;
    
    
}
input{
    border-radius: 0.3125rem ;
    background-color:#f6f7fb;
    padding:10px 10px;
    border: 0px;

}
label{
    color: black;
    font-size: 20px;
}
textarea{
   background-color:#f6f7fb ;
   border-radius: 0.3125rem ;
   border: 0px;
   
}
.boton{
    background-color: violet;
    width: 6.25rem;
    margin: 20px 0px;
    padding: 15px;
    border: 0px;
    border-radius: 10px;
    color: white;
    transition-timing-function : 7s;
 
}

.boton:active{
    box-shadow: none;
   
    
   

}



/* fin  de formulario */
/* seccion footer */

.pie-de-pagina {
    background-color:rgb(229, 152, 155);
    display: flex;
    flex-direction: column;
    padding: 3.125rem;
    align-items: center;

}


.lista {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu>a {

    color: white;
    margin: 0.625rem;
}

.icono-footer {
    display: flex;
    justify-content: center;
    padding: auto;

}

.icono-footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.625rem;
    border-radius: 100%;
}

a>i {
    color: blueviolet;

}

.icon2 {
    font-size: 1.25rem;
}